extends layout

block content
    script(src='/javascripts/admin.js', type="text/javascript")
    .container
        div
            h1(style="float:left") Admin panel
            a.btn.btn-primary(href="/users/create", style="float:right;margin-left:10px;") Lägg till temporär användare
            a.btn.btn-primary(href="/admin/here", style="float:right") Användarlista
        .inactive
            .row
                .col-sm-12
                    a
                        h1#add + Lägg till alternativ
            .row
                .col-sm-12
                    .create-form
                        form(id="start-vote" action="/start-vote", method="post")
                            #fields
                            br
                            input.btn.btn-primary(type="submit",value="Starta röstning")
        .active
            .row
                .col-sm-12
                    .display-results
            .row
                .col-sm-12
                    .btn.btn-primary.stop-btn Avsluta röstning
                    a.btn.btn-primary(href="/admin/here", style="margin-left:10px") Användarlista
