extends layout

block content
    script(src="/javascripts/underscore-min.js", type="text/javascript")
    script(src="/javascripts/fuse.min.js", type="text/javascript")
    script(src="/javascripts/here.js", type="text/javascript")
    div
        h1(style="float:left") Användare här
        a.btn.btn-primary(href="/admin", style="float:right") Till adminsida
    input.search.form-control(placeholder="Sök..")
    table.table.table-striped
        tr
            th Namn
            th email
            th närvarande
        
        - for user in users
            tr(data-user=user.email)
                td= user.name
                td= user.email
                td
                    - text = user.allowed ? "Närvarande" : "Ej närvarande"
                    - c = user.allowed ? "here" : "not-here"
                    a.active(data-user=user.email, data-here=user.allowed, class=c)= text
        
        

