form(action="/users/new", method="post")
    label(for='email') Din kth-mail
    br
    input(type='email', name='email', placeholder='Din kth mail')
    br
    input(type="submit", value="Börja rösta")
