body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
    display: none;
}

.you {
    font-size: 4vh;
}

.enter-label {
    font-size: 5vh;
}

.enter {
    font-size: 6vh;
    height: 3em;
}

.vote-btn {
    width: 100%;
    font-size: 6vh;
    height: 3em;
}

.here {
    color: green;
}

.not-here {
    color: red;
}
